body {
    color: white;
    font-size: 50px;
    background-image: repeating-radial-gradient(blue, green, white);
    background-attachment: fixed;
    text-align: center;
}

li {
    font-size: 20px;
    color: black;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: black;
}

a:hover {
    color: green;
}

img {
    width: 500px;
    height: auto;
}